/* 
// A MODERN CSS RESET: https://piccalil.li/blog/a-more-modern-css-reset/
// ==================================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*
// ====================================================================
// GENERAL STYLES
// ==================================================================== */
body {

    /* Colors */
    --tuna: #343443;
    --ghost: #C8C8D9;
    --moon-raker: #C3CCF2;
    --melrose: #B9C0FF;
    /* blackbird */
    --denim: #1D71B9; 
    /* blue tit */
    --gray-suit: #BEBCC9;
    /* chaffinch */
    --morning-glory: #8CCEDA;
    /* coal-tit */
    --mulberry: #CB5393;
    /* puffin */
    --william: #396268;
    /* robin */
    --gothic: #6C90A0;
    /* song thrush */
    --fountain-blue: #68ABC5;
    /* wren */
    --juniper: #6A8E8C;

    /* Block background colours */
    --bg-page-color: var(--tuna);

    /* Text colours */
    --text-color: var(--ghost);
    --link-color: var(--melrose);

    /* Button colors */
    --btn-color: var(--melrose);

    /* Layout: push footer to bottom of page */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    min-width: 100%;


    background-color: var(--bg-page-color);
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    color: var(--text-color);   
    font-size: 1.5em; 
    line-height: 1.4;
}
h1 {
    font-size: 3em;
    font-size: clamp(2.5rem,2rem + 3.125vw,4rem);
    font-weight: 400;
    padding: 0 .25rem 2rem;
}
a {
    color: var(--link-color);
}
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column; 
    width: calc(100% - 2rem);   
}
/* Board (cards container) - 4 x 4 layout with grid */
#board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px,1fr));
    grid-gap: 1rem;
    justify-content: center;
    /* add perspective for 3d card rotation */
    perspective: 800px; 
    width: 100%;

}

.card {
    /* make card flip 3d */
    transform-style: preserve-3d;
    transition: transform .3s ease-in-out;
    border-radius: .25rem;
    position: relative;
    min-height: calc(70px + 2rem);
    /* height: auto; */
    /* set pointer events to all to make clickable */
    pointer-events: all; 
}
.card__img {
  width: 100%;
  border-radius: .25rem;
}
figcaption, .card__caption {

  font-size: clamp(.5rem,.5rem + 2.125vw,1.25rem);
  color: #fff;
  font-size: clamp(.5rem,.5rem + 0.5vw,1.25rem);
  color: #fff;
  text-align: center;
  white-space: nowrap;
  text-transform: uppercase;
  text-shadow: rgba(0,0,0,.3) 0 1px 1px ;
}
/* rotate active / clicked card */
.active, .match {
    transform: rotateY(180deg);
}
.match {
  /* remove pointer events to disabvlew clicks */
  pointer-events: none;
}
/* Front & back of cards */
.front, .back {
    /* hide card when rotated */
    backface-visibility: hidden;
    /* absolutely position both faces to fill card space */
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    border-radius: .25rem;
}
/* front face down to start */
.front {
    margin: 0;    
    transform: rotateY(180deg);
    padding: .25rem;
}

div[data-slug="blackbird"] .front {
  background-color: var(--denim);
}
div[data-slug="blue-tit"] .front {
  background-color: var(--gray-suit);
}
div[data-slug="chaffinch"] .front {
  background-color: var(--morning-glory);
}
div[data-slug="coal-tit"] .front {
  background-color: var(--mulberry);
}
div[data-slug="puffin"] .front {
  background-color: var(--william);
}
div[data-slug="robin"] .front {
  background-color: var(--gothic);
}
div[data-slug="song-thrush"] .front {
  background-color: var(--fountain-blue);
}
div[data-slug="wren"] .front {
  background-color: var(--juniper);
}

.back {
    /* Card background from Lea Verou's CSS Patterns Gallery CSS: https://projects.verou.me/css3patterns/#shippo */
    background-color:#def;
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
    radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
    background-size:1rem 1rem;
    background-position:0 0, .5rem .5rem;
    /* background-position: center center; */
    border: .5rem solid var(--text-color);

}

.results {


}
.controls {
    display: flex;
    justify-content: center;

}

button {
    font-size: .875em;
    padding: .75rem 2rem;
    text-transform: uppercase;
    background-color: var(--btn-color);
    border-radius: 2rem;
    border: none;
    margin: 2rem;
}

/* Page footer */
footer {
    font-size: .75em;
    padding: 2rem;
}
