/* 
// A MODERN CSS RESET: https://piccalil.li/blog/a-more-modern-css-reset/
// ==================================================================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/*
// ====================================================================
// GENERAL STYLES
// ==================================================================== */
body {

    /* Colors */
    --tuna: #343443;
    --ghost: #C8C8D9;
    --moon-raker: #C3CCF2;
    --melrose: #B9C0FF;

    /* Layout: push footer to bottom of page */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 0;
    min-width: 100%;


    background-color: var(--tuna);
    font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
    color: var(--ghost);   
    font-size: 1.5em; 
    line-height: 1.4;
}
a {
    color: var(--melrose);
}
main {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;    
}
/* Cards container grid */
.cards {

}

.card {
    /* Card background from Lea Verou's CSS Patterns Gallery CSS: https://projects.verou.me/css3patterns/#shippo */
    background-color:#def;
    background-image: radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%),
    radial-gradient(closest-side, transparent 98%, rgba(0,0,0,.3) 99%);
    background-size:80px 80px;
    background-position:0 0, 40px 40px;
}
.results {

}
.controls {

}

/* Page footer */
footer {
    font-size: .75em;
    padding: 2rem;
}
